html {
  background-color: gray;
}

body {
  font-family: sans-serif;
  background-color: white;
  max-width: max(60vw, 800px);
  min-height: 100vh;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 1em;
}

nav > * {
  padding-right: 10px;
}
